.picto{

    //search
    &__location{
        @include mobile-first{
            font-size: 1.2rem;
        }
    }
    //tuto
    &__tuto{
        @include text-medium();
        @include mobile-first{
            font-size: 3rem;
        }
    }
    //heart
    &__desc, &__menu{
        font-size: 1.5rem;
        color: $colour-white;
        -webkit-text-fill-color: $colour-white;
        -webkit-text-stroke-color: $colour-black;
        -webkit-text-stroke-width: 2.00px;
        // animation need amelioration 
        &:hover{
            -webkit-text-fill-color: $colour-primary;
            -webkit-text-stroke-color: $colour-primary;
        }
        &:active{
            -webkit-text-fill-color: $colour-primary;
            -webkit-text-stroke-color: $colour-primary;
        }
        @include mobile-first{
            font-size: 2.5rem;
        }
    }

    //check
    &__check{
        font-size: 2rem;
        color: $colour-white;
    }
    
    //footer
    &__footer{
        font-size: 1rem;
        margin-right: 1rem;
    }
    

}