$colour-primary:hsl(267, 66%, 60%);
$colour-secondary:hsl(317, 100%, 74%);
$colour-tertiary:hsl(165, 56%, 74%);
$colour-black:#000;
$colour-white:#fff;

$font-1:'Shrikhand', cursive;
$font-2:'Roboto', sans-serif;

