/* change general footer */
footer {
    background-color: $colour-black;
    @include padding-section(mobile);
    padding-top: 1.68rem;

    .logo {
        width: 5.8rem;
        @include logo-colour($colour: $colour-black);
        @include mobile-first{
            width: 10rem;
        }
        
    }
}

/* Footer Link */
.footer {
    display: flex;
    flex-direction: column;

    &>*{
        margin-top: 0.5rem;
    }
    & .logo {
        margin-bottom: 1.47rem;
    }

    &__picto{
        display: block;        
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
    }

    &__info {
        @include fonts(text-2);
        display: flex;
        &:active {
            filter: brightness(50);
        }
    }
    @include desktop{
        justify-content: center;
        align-items: center;
    }
}