.loader {
  z-index: 200;
  width: 100%;
  height: 100vh;
  position: fixed;
  transform: scale(0);
  visibility: hidden;
  cursor: wait;
  animation: hide 3s both;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colour-white;

  &__circle {
    border: 5px solid $colour-primary;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  0% {
    transform: scale(1);
    visibility: visible;
  }

  100% {
    transform: scale(1);
  }
}


