.loader{
    width: 100%;
    height: 100%;
    background-color: $colour-black;
    position: fixed;
    z-index: 10000;
    display: block;
    animation: back 1000ms linear;
}

@keyframes back {
    0%{
        display: block;
    }100%{
        display: none;
    }
}